.portfolioCardContainer{
    display: flex;
    flex-wrap: wrap;
    
}
.ulPortfolio{
    padding: 10px;
}

.PortfolioHeader{
    height: fit-content;
    background-image: url('../assets/GradientWallpaperLines.png');
}
