.portfolioCardContainer{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.PortfolioHeader{
    height: fit-content;
    background-image: url('../assets/GradientWallpaperLines.png');
}

.glass{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    text-align: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    height: 200px;
}